<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bare - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="mt-5">Please select your investment style</h3>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-12 text-center">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="investStyleRadio" id="activeStyle" value="option1" checked>
          <label class="form-check-label" for="activeStyle">
            Active
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="investStyleRadio" id="moderateStyle" value="option2">
          <label class="form-check-label" for="moderateStyle">
            Moderate
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="investStyleRadio" id="passiveStyle" value="option3">
          <label class="form-check-label" for="passiveStyle">
            Passive
          </label>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.slim.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
